Events/CharmEvents/CharmEvents/CharmEvents.DAL.WCF.Client/Service References/CharmEventsService/CharmEventsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonLibs.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonLibs.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataPage">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageCount" type="xs:int" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="RowCount" type="xs:long" />
      <xs:element minOccurs="0" name="RowSkip" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataPage" nillable="true" type="tns:DataPage" />
</xs:schema>