Events/CharmEvents/CharmEvents/CharmEvents.DAL.WCF.Client/Service References/CharmEventsService/CharmEventsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CharmEventsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICharmEventsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://event.userapi.zygames.com/qqsm/201705/CharmEvents/CharmEventsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://event.userapi.zygames.com/qqsm/201705/CharmEvents/CharmEventsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://event.userapi.zygames.com/qqsm/201705/CharmEvents/CharmEventsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CharmEvents.Database.Database" />
      <xsd:import schemaLocation="http://event.userapi.zygames.com/qqsm/201705/CharmEvents/CharmEventsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonLibs.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICharmEventsService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="ICharmEventsService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICharmEventsService_UsersExchangePackets_InputMessage">
    <wsdl:part name="parameters" element="tns:UsersExchangePackets" />
  </wsdl:message>
  <wsdl:message name="ICharmEventsService_UsersExchangePackets_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsersExchangePacketsResponse" />
  </wsdl:message>
  <wsdl:message name="ICharmEventsService_UsersDrawPackets_InputMessage">
    <wsdl:part name="parameters" element="tns:UsersDrawPackets" />
  </wsdl:message>
  <wsdl:message name="ICharmEventsService_UsersDrawPackets_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsersDrawPacketsResponse" />
  </wsdl:message>
  <wsdl:message name="ICharmEventsService_UsersLoginPacket_InputMessage">
    <wsdl:part name="parameters" element="tns:UsersLoginPacket" />
  </wsdl:message>
  <wsdl:message name="ICharmEventsService_UsersLoginPacket_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsersLoginPacketResponse" />
  </wsdl:message>
  <wsdl:message name="ICharmEventsService_GetRankListList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRankListList" />
  </wsdl:message>
  <wsdl:message name="ICharmEventsService_GetRankListList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRankListListResponse" />
  </wsdl:message>
  <wsdl:portType name="ICharmEventsService">
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharmEventsService/GetUserInfo" message="tns:ICharmEventsService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharmEventsService/GetUserInfoResponse" message="tns:ICharmEventsService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsersExchangePackets">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharmEventsService/UsersExchangePackets" message="tns:ICharmEventsService_UsersExchangePackets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharmEventsService/UsersExchangePacketsResponse" message="tns:ICharmEventsService_UsersExchangePackets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsersDrawPackets">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharmEventsService/UsersDrawPackets" message="tns:ICharmEventsService_UsersDrawPackets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharmEventsService/UsersDrawPacketsResponse" message="tns:ICharmEventsService_UsersDrawPackets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsersLoginPacket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharmEventsService/UsersLoginPacket" message="tns:ICharmEventsService_UsersLoginPacket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharmEventsService/UsersLoginPacketResponse" message="tns:ICharmEventsService_UsersLoginPacket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRankListList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharmEventsService/GetRankListList" message="tns:ICharmEventsService_GetRankListList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharmEventsService/GetRankListListResponse" message="tns:ICharmEventsService_GetRankListList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICharmEventsService" type="tns:ICharmEventsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/ICharmEventsService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersExchangePackets">
      <soap:operation soapAction="http://tempuri.org/ICharmEventsService/UsersExchangePackets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersDrawPackets">
      <soap:operation soapAction="http://tempuri.org/ICharmEventsService/UsersDrawPackets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersLoginPacket">
      <soap:operation soapAction="http://tempuri.org/ICharmEventsService/UsersLoginPacket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRankListList">
      <soap:operation soapAction="http://tempuri.org/ICharmEventsService/GetRankListList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICharmEventsService" type="tns:ICharmEventsService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICharmEventsService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://tempuri.org/ICharmEventsService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersExchangePackets">
      <soap12:operation soapAction="http://tempuri.org/ICharmEventsService/UsersExchangePackets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersDrawPackets">
      <soap12:operation soapAction="http://tempuri.org/ICharmEventsService/UsersDrawPackets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersLoginPacket">
      <soap12:operation soapAction="http://tempuri.org/ICharmEventsService/UsersLoginPacket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRankListList">
      <soap12:operation soapAction="http://tempuri.org/ICharmEventsService/GetRankListList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CharmEventsService">
    <wsdl:port name="BasicHttpBinding_ICharmEventsService" binding="tns:BasicHttpBinding_ICharmEventsService">
      <soap:address location="http://event.userapi.zygames.com/qqsm/201705/CharmEvents/CharmEventsService.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICharmEventsService" binding="tns:NetTcpBinding_ICharmEventsService">
      <soap12:address location="net.tcp://web1:7151/qqsm/201705/CharmEvents/CharmEventsService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://web1:7151/qqsm/201705/CharmEvents/CharmEventsService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>