Events/CharmEvents/CharmEvents/CharmEvents.DAL.WCF.Client/Service References/CharmEventsService/CharmEventsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://event.userapi.zygames.com/qqsm/201705/CharmEvents/CharmEventsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CharmEvents.Database.Database" />
  <xs:import schemaLocation="http://event.userapi.zygames.com/qqsm/201705/CharmEvents/CharmEventsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonLibs.Common" />
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CharmEvents.Database.Database" minOccurs="0" name="userinfo" nillable="true" type="q1:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CharmEvents.Database.Database" minOccurs="0" name="GetUserInfoResult" nillable="true" type="q2:ArrayOfResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersExchangePackets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CharmEvents.Database.Database" minOccurs="0" name="userinfo" nillable="true" type="q3:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersExchangePacketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CharmEvents.Database.Database" minOccurs="0" name="UsersExchangePacketsResult" nillable="true" type="q4:ResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersDrawPackets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CharmEvents.Database.Database" minOccurs="0" name="userinfo" nillable="true" type="q5:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersDrawPacketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CharmEvents.Database.Database" minOccurs="0" name="UsersDrawPacketsResult" nillable="true" type="q6:ResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersLoginPacket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CharmEvents.Database.Database" minOccurs="0" name="userinfo" nillable="true" type="q7:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersLoginPacketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CharmEvents.Database.Database" minOccurs="0" name="UsersLoginPacketResult" nillable="true" type="q8:ResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRankListList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CommonLibs.Common" minOccurs="0" name="dp" nillable="true" type="q9:DataPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRankListListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CharmEvents.Database.Database" minOccurs="0" name="GetRankListListResult" nillable="true" type="q10:ArrayOfRankList" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CommonLibs.Common" minOccurs="0" name="dp" nillable="true" type="q11:DataPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>