Events/CharmEvents/CharmEvents/CharmEvents.DAL.WCF.Client/Service References/CharmEventsService/CharmEventsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CharmEvents.Database.Database" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CharmEvents.Database.Database" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaID" type="xs:int" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvatarId" type="xs:long" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExchangeID" type="xs:int" />
      <xs:element minOccurs="0" name="GameArea" type="xs:int" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfResultInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultInfo" nillable="true" type="tns:ResultInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultInfo" nillable="true" type="tns:ArrayOfResultInfo" />
  <xs:complexType name="ResultInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BalancePoints" type="xs:int" />
      <xs:element minOccurs="0" name="CutOffDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExchangeId" type="xs:int" />
      <xs:element minOccurs="0" name="ExchangeTotal" type="xs:int" />
      <xs:element minOccurs="0" name="PacketName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPoints" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultInfo" nillable="true" type="tns:ResultInfo" />
  <xs:complexType name="ArrayOfRankList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RankList" nillable="true" type="tns:RankList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRankList" nillable="true" type="tns:ArrayOfRankList" />
  <xs:complexType name="RankList">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvatarId" type="xs:long" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CutOffDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GetLastTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GetPoints" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RankOrder" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RankList" nillable="true" type="tns:RankList" />
</xs:schema>