Events/PuzzleEvent/PuzzleEvent/PuzzleEvent.DAL.WCF.Client/Service References/PuzzleEventService/PuzzleEventService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserPiecesTotal">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaID" type="xs:int" />
      <xs:element minOccurs="0" name="IsFirst" type="xs:int" />
      <xs:element minOccurs="0" name="PiecesBalance" type="xs:int" />
      <xs:element minOccurs="0" name="PiecesConsume" type="xs:int" />
      <xs:element minOccurs="0" name="PiecesOccupied" type="xs:int" />
      <xs:element minOccurs="0" name="PiecesTotal" type="xs:long" />
      <xs:element minOccurs="0" name="PuzzleTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="RecordID" type="xs:long" />
      <xs:element minOccurs="0" name="RemainPoints" type="xs:long" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPiecesTotal" nillable="true" type="tns:UserPiecesTotal" />
  <xs:complexType name="ArrayOfUserPiecesTotal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserPiecesTotal" nillable="true" type="tns:UserPiecesTotal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserPiecesTotal" nillable="true" type="tns:ArrayOfUserPiecesTotal" />
  <xs:complexType name="UserSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaID" type="xs:int" />
      <xs:element minOccurs="0" name="AvatarID" type="xs:long" />
      <xs:element minOccurs="0" name="PacketID" type="xs:long" />
      <xs:element minOccurs="0" name="PuzzleTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Sex" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSearch" nillable="true" type="tns:UserSearch" />
  <xs:complexType name="ArrayOfPuzzlePieces">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PuzzlePieces" nillable="true" type="tns:PuzzlePieces" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuzzlePieces" nillable="true" type="tns:ArrayOfPuzzlePieces" />
  <xs:complexType name="PuzzlePieces">
    <xs:sequence>
      <xs:element minOccurs="0" name="PieceOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PuzzleID" type="xs:int" />
      <xs:element minOccurs="0" name="PuzzleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PuzzlePieceDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PuzzlePieceId" type="xs:int" />
      <xs:element minOccurs="0" name="PuzzlePieceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PuzzleTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="PuzzleTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PuzzlePieces" nillable="true" type="tns:PuzzlePieces" />
  <xs:complexType name="PuzzleDrawDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualCount" type="xs:int" />
      <xs:element minOccurs="0" name="AllPiecesRate" type="xs:int" />
      <xs:element minOccurs="0" name="AreaID" type="xs:int" />
      <xs:element minOccurs="0" name="AvatarID" type="xs:long" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AwardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AwardPuzzlePacket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTS" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DrawCount" type="xs:int" />
      <xs:element minOccurs="0" name="DrawRS" type="xs:int" />
      <xs:element minOccurs="0" name="ExtraCount" type="xs:int" />
      <xs:element minOccurs="0" name="IsComplete" type="xs:int" />
      <xs:element minOccurs="0" name="IsNotice" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPuzzle" type="xs:int" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacketRate" type="xs:int" />
      <xs:element minOccurs="0" name="PiecesOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="PuzzleDrawID" type="xs:int" />
      <xs:element minOccurs="0" name="PuzzleID" type="xs:int" />
      <xs:element minOccurs="0" name="PuzzleNotice" type="xs:boolean" />
      <xs:element minOccurs="0" name="PuzzleRandom" type="xs:int" />
      <xs:element minOccurs="0" name="PuzzleTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Rate" type="xs:int" />
      <xs:element minOccurs="0" name="Sex" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PuzzleDrawDetails" nillable="true" type="tns:PuzzleDrawDetails" />
  <xs:complexType name="ArrayOfPuzzleDrawDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PuzzleDrawDetails" nillable="true" type="tns:PuzzleDrawDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuzzleDrawDetails" nillable="true" type="tns:ArrayOfPuzzleDrawDetails" />
  <xs:complexType name="RankList">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvatarId" type="xs:long" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameArea" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RankOrder" type="xs:int" />
      <xs:element minOccurs="0" name="UsedPoints" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RankList" nillable="true" type="tns:RankList" />
  <xs:complexType name="ArrayOfRankList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RankList" nillable="true" type="tns:RankList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRankList" nillable="true" type="tns:ArrayOfRankList" />
</xs:schema>