Events/PuzzleEvent/PuzzleEvent/PuzzleEvent.DAL.WCF.Client/Service References/PuzzleEventService/PuzzleEventService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://event.userapi.zygames.com/qqsm/201604/PuzzleEvent/PuzzleEventService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" />
  <xs:import schemaLocation="http://event.userapi.zygames.com/qqsm/201604/PuzzleEvent/PuzzleEventService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonLibs.Common" />
  <xs:element name="GetUserPiecesTotalAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="userpiecestotal" nillable="true" type="q1:UserPiecesTotal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPiecesTotalAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="GetUserPiecesTotalAllResult" nillable="true" type="q2:ArrayOfUserPiecesTotal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrdinaryPacketReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="ordinaryPacketReceive" nillable="true" type="q3:UserSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrdinaryPacketReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrdinaryPacketReceiveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExchangePacketReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="exchangePacketReceive" nillable="true" type="q4:UserSearch" />
        <xs:element minOccurs="0" name="IsNotice" type="xs:boolean" />
        <xs:element minOccurs="0" name="PacketName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExchangePacketReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExchangePacketReceiveResult" type="xs:int" />
        <xs:element minOccurs="0" name="IsNotice" type="xs:boolean" />
        <xs:element minOccurs="0" name="PacketName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPiecesReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="searchPiecesReceive" nillable="true" type="q5:UserSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPiecesReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="GetPiecesReceiveResult" nillable="true" type="q6:ArrayOfPuzzlePieces" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPuzzleDrawDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="puzzleDrawDetails" nillable="true" type="q7:PuzzleDrawDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPuzzleDrawDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPuzzleDrawDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPiecesPacketDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="piecesPacketDetails" nillable="true" type="q8:PuzzleDrawDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPiecesPacketDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="AddPiecesPacketDetailsResult" nillable="true" type="q9:PuzzleDrawDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PuzzleDraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="piecesPacketDetails" nillable="true" type="q10:PuzzleDrawDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PuzzleDrawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="PuzzleDrawResult" nillable="true" type="q11:ArrayOfPuzzleDrawDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRankListList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CommonLibs.Common" minOccurs="0" name="dp" nillable="true" type="q12:DataPage" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="searchRankList" nillable="true" type="q13:RankList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRankListListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="GetRankListListResult" nillable="true" type="q14:ArrayOfRankList" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CommonLibs.Common" minOccurs="0" name="dp" nillable="true" type="q15:DataPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedPacket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:long" />
        <xs:element minOccurs="0" name="areaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedPacketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRedPacketResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PuzzleReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="PuzzleDrawDetails" nillable="true" type="q16:PuzzleDrawDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PuzzleReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PuzzleEvent.Database.Database" minOccurs="0" name="PuzzleReceiveResult" nillable="true" type="q17:PuzzleDrawDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>