Events/PetFeedEvents/PetFeedEvents/PetFeedEvents.DAL.AdminWCF.Client/Service References/PetFeedEventsAdminService/PetFeedEventsAdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PetFeedEventsAdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPetFeedEventsAdminService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://adminapi.zygames.com/PetFeedEvents/PetFeedEventsAdminService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://adminapi.zygames.com/PetFeedEvents/PetFeedEventsAdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://adminapi.zygames.com/PetFeedEvents/PetFeedEventsAdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonLibs.Common" />
      <xsd:import schemaLocation="http://adminapi.zygames.com/PetFeedEvents/PetFeedEventsAdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PetFeedEvents.Database.Database" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPetFeedEventsAdminService_CleanAllData_InputMessage">
    <wsdl:part name="parameters" element="tns:CleanAllData" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_CleanAllData_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanAllDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_GetGameDailyLogList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameDailyLogList" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_GetGameDailyLogList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameDailyLogListResponse" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_GetDynamicPacketQueueList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDynamicPacketQueueList" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_GetDynamicPacketQueueList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDynamicPacketQueueListResponse" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_InsertGameDailyLog_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertGameDailyLog" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_InsertGameDailyLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertGameDailyLogResponse" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_GetDynamicPacketQueueLogList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDynamicPacketQueueLogList" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_GetDynamicPacketQueueLogList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDynamicPacketQueueLogListResponse" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_GetTaskConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskConfig" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_GetTaskConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_InsertTaskConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTaskConfig" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_InsertTaskConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTaskConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_UpdateTaskConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTaskConfig" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_UpdateTaskConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTaskConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_DeleteTaskConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskConfig" />
  </wsdl:message>
  <wsdl:message name="IPetFeedEventsAdminService_DeleteTaskConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="IPetFeedEventsAdminService">
    <wsdl:operation name="CleanAllData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/CleanAllData" message="tns:IPetFeedEventsAdminService_CleanAllData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/CleanAllDataResponse" message="tns:IPetFeedEventsAdminService_CleanAllData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameDailyLogList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/GetGameDailyLogList" message="tns:IPetFeedEventsAdminService_GetGameDailyLogList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/GetGameDailyLogListResponse" message="tns:IPetFeedEventsAdminService_GetGameDailyLogList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDynamicPacketQueueList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/GetDynamicPacketQueueList" message="tns:IPetFeedEventsAdminService_GetDynamicPacketQueueList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/GetDynamicPacketQueueListResponse" message="tns:IPetFeedEventsAdminService_GetDynamicPacketQueueList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertGameDailyLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/InsertGameDailyLog" message="tns:IPetFeedEventsAdminService_InsertGameDailyLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/InsertGameDailyLogResponse" message="tns:IPetFeedEventsAdminService_InsertGameDailyLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDynamicPacketQueueLogList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/GetDynamicPacketQueueLogList" message="tns:IPetFeedEventsAdminService_GetDynamicPacketQueueLogList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/GetDynamicPacketQueueLogListResponse" message="tns:IPetFeedEventsAdminService_GetDynamicPacketQueueLogList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/GetTaskConfig" message="tns:IPetFeedEventsAdminService_GetTaskConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/GetTaskConfigResponse" message="tns:IPetFeedEventsAdminService_GetTaskConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTaskConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/InsertTaskConfig" message="tns:IPetFeedEventsAdminService_InsertTaskConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/InsertTaskConfigResponse" message="tns:IPetFeedEventsAdminService_InsertTaskConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/UpdateTaskConfig" message="tns:IPetFeedEventsAdminService_UpdateTaskConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/UpdateTaskConfigResponse" message="tns:IPetFeedEventsAdminService_UpdateTaskConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTaskConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/DeleteTaskConfig" message="tns:IPetFeedEventsAdminService_DeleteTaskConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPetFeedEventsAdminService/DeleteTaskConfigResponse" message="tns:IPetFeedEventsAdminService_DeleteTaskConfig_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPetFeedEventsAdminService" type="tns:IPetFeedEventsAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CleanAllData">
      <soap:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/CleanAllData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameDailyLogList">
      <soap:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/GetGameDailyLogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDynamicPacketQueueList">
      <soap:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/GetDynamicPacketQueueList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGameDailyLog">
      <soap:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/InsertGameDailyLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDynamicPacketQueueLogList">
      <soap:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/GetDynamicPacketQueueLogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskConfig">
      <soap:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/GetTaskConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTaskConfig">
      <soap:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/InsertTaskConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskConfig">
      <soap:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/UpdateTaskConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTaskConfig">
      <soap:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/DeleteTaskConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPetFeedEventsAdminService" type="tns:IPetFeedEventsAdminService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPetFeedEventsAdminService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CleanAllData">
      <soap12:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/CleanAllData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameDailyLogList">
      <soap12:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/GetGameDailyLogList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDynamicPacketQueueList">
      <soap12:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/GetDynamicPacketQueueList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGameDailyLog">
      <soap12:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/InsertGameDailyLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDynamicPacketQueueLogList">
      <soap12:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/GetDynamicPacketQueueLogList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskConfig">
      <soap12:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/GetTaskConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTaskConfig">
      <soap12:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/InsertTaskConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskConfig">
      <soap12:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/UpdateTaskConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTaskConfig">
      <soap12:operation soapAction="http://tempuri.org/IPetFeedEventsAdminService/DeleteTaskConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PetFeedEventsAdminService">
    <wsdl:port name="BasicHttpBinding_IPetFeedEventsAdminService" binding="tns:BasicHttpBinding_IPetFeedEventsAdminService">
      <soap:address location="http://adminapi.zygames.com/PetFeedEvents/PetFeedEventsAdminService.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPetFeedEventsAdminService" binding="tns:NetTcpBinding_IPetFeedEventsAdminService">
      <soap12:address location="net.tcp://web1:7100/PetFeedEvents/PetFeedEventsAdminService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://web1:7100/PetFeedEvents/PetFeedEventsAdminService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>