Events/CampEvents/CampEventsDALTEST/Service References/CampEventsService/CampEventsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://event.userapi.zygames.com/qqsm/201709/CampEvents/CampEventsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" />
  <xs:element name="UserChooseCamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" minOccurs="0" name="usercamplog" nillable="true" type="q1:UserCampLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserChooseCampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserChooseCampResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>