Events/CampEvents/CampEvents/CampEvents.DAL.WCF.Client/Service References/CampEventsService/CampEventsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://event.userapi.zygames.com/qqsm/201709/CampEvents/CampEventsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" />
  <xs:element name="UserChooseCamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" minOccurs="0" name="userinfo" nillable="true" type="q1:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserChooseCampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" minOccurs="0" name="UserChooseCampResult" nillable="true" type="q2:ResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRankListTop20">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" minOccurs="0" name="userinfo" nillable="true" type="q3:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRankListTop20Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" minOccurs="0" name="GetRankListTop20Result" nillable="true" type="q4:ArrayOfRankListTop20" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExchangePointPacket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" minOccurs="0" name="userinfo" nillable="true" type="q5:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExchangePointPacketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" minOccurs="0" name="ExchangePointPacketResult" nillable="true" type="q6:ResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" minOccurs="0" name="userinfo" nillable="true" type="q7:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" minOccurs="0" name="GetUserInfoResult" nillable="true" type="q8:ResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" minOccurs="0" name="GetCampInfoResult" nillable="true" type="q9:ArrayOfCampConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>