Events/CampEvents/CampEvents/CampEvents.DAL.WCF.Client/Service References/CampEventsService/CampEventsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CampEventsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICampEventsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://event.userapi.zygames.com/qqsm/201709/CampEvents/CampEventsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://event.userapi.zygames.com/qqsm/201709/CampEvents/CampEventsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://event.userapi.zygames.com/qqsm/201709/CampEvents/CampEventsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" />
      <xsd:import schemaLocation="http://event.userapi.zygames.com/qqsm/201709/CampEvents/CampEventsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CampEvents.Database.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICampEventsService_UserChooseCamp_InputMessage">
    <wsdl:part name="parameters" element="tns:UserChooseCamp" />
  </wsdl:message>
  <wsdl:message name="ICampEventsService_UserChooseCamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserChooseCampResponse" />
  </wsdl:message>
  <wsdl:message name="ICampEventsService_GetRankListTop20_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRankListTop20" />
  </wsdl:message>
  <wsdl:message name="ICampEventsService_GetRankListTop20_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRankListTop20Response" />
  </wsdl:message>
  <wsdl:message name="ICampEventsService_ExchangePointPacket_InputMessage">
    <wsdl:part name="parameters" element="tns:ExchangePointPacket" />
  </wsdl:message>
  <wsdl:message name="ICampEventsService_ExchangePointPacket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExchangePointPacketResponse" />
  </wsdl:message>
  <wsdl:message name="ICampEventsService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="ICampEventsService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICampEventsService_GetCampInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCampInfo" />
  </wsdl:message>
  <wsdl:message name="ICampEventsService_GetCampInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCampInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICampEventsService">
    <wsdl:operation name="UserChooseCamp">
      <wsdl:input wsaw:Action="http://tempuri.org/ICampEventsService/UserChooseCamp" message="tns:ICampEventsService_UserChooseCamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICampEventsService/UserChooseCampResponse" message="tns:ICampEventsService_UserChooseCamp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRankListTop20">
      <wsdl:input wsaw:Action="http://tempuri.org/ICampEventsService/GetRankListTop20" message="tns:ICampEventsService_GetRankListTop20_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICampEventsService/GetRankListTop20Response" message="tns:ICampEventsService_GetRankListTop20_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExchangePointPacket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICampEventsService/ExchangePointPacket" message="tns:ICampEventsService_ExchangePointPacket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICampEventsService/ExchangePointPacketResponse" message="tns:ICampEventsService_ExchangePointPacket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICampEventsService/GetUserInfo" message="tns:ICampEventsService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICampEventsService/GetUserInfoResponse" message="tns:ICampEventsService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCampInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICampEventsService/GetCampInfo" message="tns:ICampEventsService_GetCampInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICampEventsService/GetCampInfoResponse" message="tns:ICampEventsService_GetCampInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICampEventsService" type="tns:ICampEventsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserChooseCamp">
      <soap:operation soapAction="http://tempuri.org/ICampEventsService/UserChooseCamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRankListTop20">
      <soap:operation soapAction="http://tempuri.org/ICampEventsService/GetRankListTop20" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExchangePointPacket">
      <soap:operation soapAction="http://tempuri.org/ICampEventsService/ExchangePointPacket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/ICampEventsService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampInfo">
      <soap:operation soapAction="http://tempuri.org/ICampEventsService/GetCampInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICampEventsService" type="tns:ICampEventsService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICampEventsService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UserChooseCamp">
      <soap12:operation soapAction="http://tempuri.org/ICampEventsService/UserChooseCamp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRankListTop20">
      <soap12:operation soapAction="http://tempuri.org/ICampEventsService/GetRankListTop20" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExchangePointPacket">
      <soap12:operation soapAction="http://tempuri.org/ICampEventsService/ExchangePointPacket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://tempuri.org/ICampEventsService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampInfo">
      <soap12:operation soapAction="http://tempuri.org/ICampEventsService/GetCampInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampEventsService">
    <wsdl:port name="BasicHttpBinding_ICampEventsService" binding="tns:BasicHttpBinding_ICampEventsService">
      <soap:address location="http://event.userapi.zygames.com/qqsm/201709/CampEvents/CampEventsService.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICampEventsService" binding="tns:NetTcpBinding_ICampEventsService">
      <soap12:address location="net.tcp://web1:7151/qqsm/201709/CampEvents/CampEventsService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://web1:7151/qqsm/201709/CampEvents/CampEventsService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>