Events/CampEvents/CampEvents/CampEvents.DAL.AdminWCF.Client/Service References/CampEventsAdminService/CampEventsAdminService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CampEvents.Database.Database" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BasicConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasicId" type="xs:int" />
      <xs:element minOccurs="0" name="ConfigName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfigValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicConfig" nillable="true" type="tns:BasicConfig" />
  <xs:complexType name="ArrayOfBasicConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasicConfig" nillable="true" type="tns:BasicConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasicConfig" nillable="true" type="tns:ArrayOfBasicConfig" />
  <xs:complexType name="ArrayOfCampConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CampConfig" nillable="true" type="tns:CampConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCampConfig" nillable="true" type="tns:ArrayOfCampConfig" />
  <xs:complexType name="CampConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampId" type="xs:int" />
      <xs:element minOccurs="0" name="CampName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentPeople" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentPoints" type="xs:long" />
      <xs:element minOccurs="0" name="PointPacketConfigList" nillable="true" type="tns:ArrayOfPointPacketConfig" />
      <xs:element minOccurs="0" name="RankListTop20List" nillable="true" type="tns:ArrayOfRankListTop20" />
      <xs:element minOccurs="0" name="UserCampLogList" nillable="true" type="tns:ArrayOfUserCampLog" />
      <xs:element minOccurs="0" name="WalletList" nillable="true" type="tns:ArrayOfWallet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CampConfig" nillable="true" type="tns:CampConfig" />
  <xs:complexType name="ArrayOfPointPacketConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PointPacketConfig" nillable="true" type="tns:PointPacketConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPointPacketConfig" nillable="true" type="tns:ArrayOfPointPacketConfig" />
  <xs:complexType name="PointPacketConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampConfig" nillable="true" type="tns:CampConfig" />
      <xs:element minOccurs="0" name="CampId" type="xs:int" />
      <xs:element minOccurs="0" name="ConfigContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfigId" type="xs:int" />
      <xs:element minOccurs="0" name="IsNotice" type="xs:boolean" />
      <xs:element minOccurs="0" name="NeedPoints" type="xs:int" />
      <xs:element minOccurs="0" name="PacketId" type="xs:int" />
      <xs:element minOccurs="0" name="PacketName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointPacketExchangeLogList" nillable="true" type="tns:ArrayOfPointPacketExchangeLog" />
      <xs:element minOccurs="0" name="ShowId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PointPacketConfig" nillable="true" type="tns:PointPacketConfig" />
  <xs:complexType name="ArrayOfPointPacketExchangeLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PointPacketExchangeLog" nillable="true" type="tns:PointPacketExchangeLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPointPacketExchangeLog" nillable="true" type="tns:ArrayOfPointPacketExchangeLog" />
  <xs:complexType name="PointPacketExchangeLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="AvatarId" type="xs:long" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrentPoints" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacketQueue" nillable="true" type="tns:PacketQueue" />
      <xs:element minOccurs="0" name="PointPacketConfig" nillable="true" type="tns:PointPacketConfig" />
      <xs:element minOccurs="0" name="PointPacketConfigId" type="xs:int" />
      <xs:element minOccurs="0" name="Sex" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PointPacketExchangeLog" nillable="true" type="tns:PointPacketExchangeLog" />
  <xs:complexType name="PacketQueue">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="AvatarId" type="xs:long" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FromId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="PacketId" type="xs:int" />
      <xs:element minOccurs="0" name="PointPacketExchangeLog" nillable="true" type="tns:PointPacketExchangeLog" />
      <xs:element minOccurs="0" name="Sex" type="xs:int" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PacketQueue" nillable="true" type="tns:PacketQueue" />
  <xs:complexType name="ArrayOfRankListTop20">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RankListTop20" nillable="true" type="tns:RankListTop20" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRankListTop20" nillable="true" type="tns:ArrayOfRankListTop20" />
  <xs:complexType name="RankListTop20">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvatarId" type="xs:long" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampConfig" nillable="true" type="tns:CampConfig" />
      <xs:element minOccurs="0" name="CampId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CutOffDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RankOrder" type="xs:int" />
      <xs:element minOccurs="0" name="TotalGetPoints" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RankListTop20" nillable="true" type="tns:RankListTop20" />
  <xs:complexType name="ArrayOfUserCampLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserCampLog" nillable="true" type="tns:UserCampLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserCampLog" nillable="true" type="tns:ArrayOfUserCampLog" />
  <xs:complexType name="UserCampLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="AvatarId" type="xs:long" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampConfig" nillable="true" type="tns:CampConfig" />
      <xs:element minOccurs="0" name="CampId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogId" type="xs:long" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
      <xs:element minOccurs="0" name="Wallet" nillable="true" type="tns:Wallet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCampLog" nillable="true" type="tns:UserCampLog" />
  <xs:complexType name="Wallet">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="AvatarId" type="xs:long" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BalancePoints" type="xs:int" />
      <xs:element minOccurs="0" name="CampConfig" nillable="true" type="tns:CampConfig" />
      <xs:element minOccurs="0" name="CampId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DailyGetPoints" type="xs:int" />
      <xs:element minOccurs="0" name="FinishedTaskNum" type="xs:int" />
      <xs:element minOccurs="0" name="FromId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RecordDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCampLog" nillable="true" type="tns:UserCampLog" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
      <xs:element minOccurs="0" name="WId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wallet" nillable="true" type="tns:Wallet" />
  <xs:complexType name="ArrayOfWallet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Wallet" nillable="true" type="tns:Wallet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWallet" nillable="true" type="tns:ArrayOfWallet" />
  <xs:complexType name="DailyTaskConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameDailyLogHistoryList" nillable="true" type="tns:ArrayOfGameDailyLogHistory" />
      <xs:element minOccurs="0" name="GameDailyLogList" nillable="true" type="tns:ArrayOfGameDailyLog" />
      <xs:element minOccurs="0" name="GetPoints" type="xs:int" />
      <xs:element minOccurs="0" name="MaxLimit" type="xs:int" />
      <xs:element minOccurs="0" name="NumPerTime" type="xs:int" />
      <xs:element minOccurs="0" name="TaskConfigId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeekendDouble" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DailyTaskConfig" nillable="true" type="tns:DailyTaskConfig" />
  <xs:complexType name="ArrayOfGameDailyLogHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameDailyLogHistory" nillable="true" type="tns:GameDailyLogHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameDailyLogHistory" nillable="true" type="tns:ArrayOfGameDailyLogHistory" />
  <xs:complexType name="GameDailyLogHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="AvatarId" type="xs:long" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DailyTaskConfig" nillable="true" type="tns:DailyTaskConfig" />
      <xs:element minOccurs="0" name="FinalNumber" type="xs:int" />
      <xs:element minOccurs="0" name="FromId" type="xs:long" />
      <xs:element minOccurs="0" name="HistoryId" type="xs:long" />
      <xs:element minOccurs="0" name="RecordDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TaskConfigId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskGetPoints" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameDailyLogHistory" nillable="true" type="tns:GameDailyLogHistory" />
  <xs:complexType name="ArrayOfGameDailyLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameDailyLog" nillable="true" type="tns:GameDailyLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameDailyLog" nillable="true" type="tns:ArrayOfGameDailyLog" />
  <xs:complexType name="GameDailyLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="AvatarId" type="xs:long" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DailyTaskConfig" nillable="true" type="tns:DailyTaskConfig" />
      <xs:element minOccurs="0" name="FinalNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RecordDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecordId" type="xs:long" />
      <xs:element minOccurs="0" name="TaskConfigId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskGetPoints" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameDailyLog" nillable="true" type="tns:GameDailyLog" />
  <xs:complexType name="ArrayOfDailyTaskConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DailyTaskConfig" nillable="true" type="tns:DailyTaskConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDailyTaskConfig" nillable="true" type="tns:ArrayOfDailyTaskConfig" />
  <xs:complexType name="PacketQueueLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="AvatarId" type="xs:long" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FromId" type="xs:long" />
      <xs:element minOccurs="0" name="LogId" type="xs:long" />
      <xs:element minOccurs="0" name="PacketId" type="xs:int" />
      <xs:element minOccurs="0" name="Sex" type="xs:int" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PacketQueueLog" nillable="true" type="tns:PacketQueueLog" />
  <xs:complexType name="ArrayOfPacketQueueLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PacketQueueLog" nillable="true" type="tns:PacketQueueLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPacketQueueLog" nillable="true" type="tns:ArrayOfPacketQueueLog" />
  <xs:complexType name="ArrayOfPacketQueue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PacketQueue" nillable="true" type="tns:PacketQueue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPacketQueue" nillable="true" type="tns:ArrayOfPacketQueue" />
</xs:schema>