Events/WeaponDesign/WeaponDesign.DAL.WCF.Client/Service References/WeaponDesignService/WeaponDesignService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeaponDesignService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWeaponDesignService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://event.userapi.zygames.com/qqsm/201705/DesignUpload/WeaponDesignService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://event.userapi.zygames.com/qqsm/201705/DesignUpload/WeaponDesignService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://event.userapi.zygames.com/qqsm/201705/DesignUpload/WeaponDesignService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeaponDesign.Database.Database" />
      <xsd:import schemaLocation="http://event.userapi.zygames.com/qqsm/201705/DesignUpload/WeaponDesignService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonLibs.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeaponDesignService_AddUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserList" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_AddUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserListResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_AddWeaponList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWeaponList" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_AddWeaponList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWeaponListResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_UpdateWeaponList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWeaponList" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_UpdateWeaponList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWeaponListResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_UpdateWeaponStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWeaponStatus" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_UpdateWeaponStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWeaponStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_GetWeaponUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeaponUserList" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_GetWeaponUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeaponUserListResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_AddCommentsList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentsList" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_AddCommentsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentsListResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_GetWeaponCommentsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeaponCommentsList" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_GetWeaponCommentsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeaponCommentsListResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_AddPraiseLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPraiseLog" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_AddPraiseLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPraiseLogResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_GetWeaponList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeaponList" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_GetWeaponList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeaponListResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_GetDesignEventType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDesignEventType" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignService_GetDesignEventType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDesignEventTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeaponDesignService">
    <wsdl:operation name="AddUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignService/AddUserList" message="tns:IWeaponDesignService_AddUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignService/AddUserListResponse" message="tns:IWeaponDesignService_AddUserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWeaponList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignService/AddWeaponList" message="tns:IWeaponDesignService_AddWeaponList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignService/AddWeaponListResponse" message="tns:IWeaponDesignService_AddWeaponList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWeaponList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignService/UpdateWeaponList" message="tns:IWeaponDesignService_UpdateWeaponList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignService/UpdateWeaponListResponse" message="tns:IWeaponDesignService_UpdateWeaponList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWeaponStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignService/UpdateWeaponStatus" message="tns:IWeaponDesignService_UpdateWeaponStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignService/UpdateWeaponStatusResponse" message="tns:IWeaponDesignService_UpdateWeaponStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeaponUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignService/GetWeaponUserList" message="tns:IWeaponDesignService_GetWeaponUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignService/GetWeaponUserListResponse" message="tns:IWeaponDesignService_GetWeaponUserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCommentsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignService/AddCommentsList" message="tns:IWeaponDesignService_AddCommentsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignService/AddCommentsListResponse" message="tns:IWeaponDesignService_AddCommentsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeaponCommentsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignService/GetWeaponCommentsList" message="tns:IWeaponDesignService_GetWeaponCommentsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignService/GetWeaponCommentsListResponse" message="tns:IWeaponDesignService_GetWeaponCommentsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPraiseLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignService/AddPraiseLog" message="tns:IWeaponDesignService_AddPraiseLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignService/AddPraiseLogResponse" message="tns:IWeaponDesignService_AddPraiseLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeaponList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignService/GetWeaponList" message="tns:IWeaponDesignService_GetWeaponList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignService/GetWeaponListResponse" message="tns:IWeaponDesignService_GetWeaponList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDesignEventType">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignService/GetDesignEventType" message="tns:IWeaponDesignService_GetDesignEventType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignService/GetDesignEventTypeResponse" message="tns:IWeaponDesignService_GetDesignEventType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeaponDesignService" type="tns:IWeaponDesignService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUserList">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignService/AddUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWeaponList">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignService/AddWeaponList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWeaponList">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignService/UpdateWeaponList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWeaponStatus">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignService/UpdateWeaponStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeaponUserList">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignService/GetWeaponUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommentsList">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignService/AddCommentsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeaponCommentsList">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignService/GetWeaponCommentsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPraiseLog">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignService/AddPraiseLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeaponList">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignService/GetWeaponList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDesignEventType">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignService/GetDesignEventType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IWeaponDesignService" type="tns:IWeaponDesignService">
    <wsp:PolicyReference URI="#NetTcpBinding_IWeaponDesignService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddUserList">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignService/AddUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWeaponList">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignService/AddWeaponList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWeaponList">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignService/UpdateWeaponList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWeaponStatus">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignService/UpdateWeaponStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeaponUserList">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignService/GetWeaponUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommentsList">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignService/AddCommentsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeaponCommentsList">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignService/GetWeaponCommentsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPraiseLog">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignService/AddPraiseLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeaponList">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignService/GetWeaponList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDesignEventType">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignService/GetDesignEventType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeaponDesignService">
    <wsdl:port name="BasicHttpBinding_IWeaponDesignService" binding="tns:BasicHttpBinding_IWeaponDesignService">
      <soap:address location="http://event.userapi.zygames.com/qqsm/201705/DesignUpload/WeaponDesignService.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IWeaponDesignService" binding="tns:NetTcpBinding_IWeaponDesignService">
      <soap12:address location="net.tcp://web1:7151/qqsm/201705/DesignUpload/WeaponDesignService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://web1:7151/qqsm/201705/DesignUpload/WeaponDesignService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>