Events/WeaponDesign/WeaponDesign.DAL.WCF.Client/Service References/WeaponDesignService/WeaponDesignService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeaponDesign.Database.Database" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeaponDesign.Database.Database" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserList">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaID" type="xs:int" />
      <xs:element minOccurs="0" name="AvatarID" type="xs:long" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserList" nillable="true" type="tns:UserList" />
  <xs:complexType name="WeaponList">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaID" type="xs:int" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvatarID" type="xs:long" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTS" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="PicAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SLength" type="xs:int" />
      <xs:element minOccurs="0" name="SWidth" type="xs:int" />
      <xs:element minOccurs="0" name="ShowPraise" type="xs:int" />
      <xs:element minOccurs="0" name="SpicAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCom" type="xs:long" />
      <xs:element minOccurs="0" name="TruePraise" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateTS" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
      <xs:element minOccurs="0" name="WeaType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeaponDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeaponID" type="xs:int" />
      <xs:element minOccurs="0" name="WeaponName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeaponList" nillable="true" type="tns:WeaponList" />
  <xs:complexType name="WeaponUserList">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaID" type="xs:int" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTS" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PicAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SLength" type="xs:int" />
      <xs:element minOccurs="0" name="SWidth" type="xs:int" />
      <xs:element minOccurs="0" name="ShowPraise" type="xs:int" />
      <xs:element minOccurs="0" name="Sort" type="xs:int" />
      <xs:element minOccurs="0" name="SpicAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCom" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateTS" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
      <xs:element minOccurs="0" name="WeaType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeaponDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeaponID" type="xs:int" />
      <xs:element minOccurs="0" name="WeaponName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeaponUserList" nillable="true" type="tns:WeaponUserList" />
  <xs:complexType name="ArrayOfWeaponUserList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeaponUserList" nillable="true" type="tns:WeaponUserList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeaponUserList" nillable="true" type="tns:ArrayOfWeaponUserList" />
  <xs:complexType name="CommentsList">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaID" type="xs:int" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvatarID" type="xs:long" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTS" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
      <xs:element minOccurs="0" name="WeaponID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentsList" nillable="true" type="tns:CommentsList" />
  <xs:complexType name="WeaponComments">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTS" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PicAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowID" type="xs:long" />
      <xs:element minOccurs="0" name="ShowPraise" type="xs:int" />
      <xs:element minOccurs="0" name="SpicAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeaType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeaponDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeaponID" type="xs:int" />
      <xs:element minOccurs="0" name="WeaponName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeaponComments" nillable="true" type="tns:WeaponComments" />
  <xs:complexType name="ArrayOfWeaponComments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeaponComments" nillable="true" type="tns:WeaponComments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeaponComments" nillable="true" type="tns:ArrayOfWeaponComments" />
  <xs:complexType name="PraiseLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaID" type="xs:int" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvatarID" type="xs:long" />
      <xs:element minOccurs="0" name="CreateTS" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PraiseID" type="xs:int" />
      <xs:element minOccurs="0" name="PraiseIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PraiseNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Source" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
      <xs:element minOccurs="0" name="WeaponID" type="xs:int" />
      <xs:element minOccurs="0" name="WeaponIDold" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PraiseLog" nillable="true" type="tns:PraiseLog" />
  <xs:complexType name="DesignEventType">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DesignEventType" nillable="true" type="tns:DesignEventType" />
</xs:schema>