Events/WeaponDesign/WeaponDesign.DAL.AdminWCF.Client/Service References/WeaponDesignAdminService/WeaponDesignAdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeaponDesignAdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWeaponDesignAdminService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://adminapi.zygames.com/Event/QQSM/201512/DesignUpload/WeaponDesignAdminService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://adminapi.zygames.com/Event/QQSM/201512/DesignUpload/WeaponDesignAdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://adminapi.zygames.com/Event/QQSM/201512/DesignUpload/WeaponDesignAdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeaponDesign.Database.Database" />
      <xsd:import schemaLocation="http://adminapi.zygames.com/Event/QQSM/201512/DesignUpload/WeaponDesignAdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonLibs.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeaponDesignAdminService_GetWeaponList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeaponList" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_GetWeaponList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeaponListResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_GetWeaponAllUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeaponAllUserList" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_GetWeaponAllUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeaponAllUserListResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_UpdateWeaponStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWeaponStatus" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_UpdateWeaponStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWeaponStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_AddPraiseLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPraiseLog" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_AddPraiseLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPraiseLogResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_GetPraiseLogList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPraiseLogList" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_GetPraiseLogList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPraiseLogListResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_GetCommentsListList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsListList" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_GetCommentsListList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsListListResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_DelComment_InputMessage">
    <wsdl:part name="parameters" element="tns:DelComment" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_DelComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_UpdatePraiseNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePraiseNumber" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_UpdatePraiseNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePraiseNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_GetPraiseNumberList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPraiseNumberList" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_GetPraiseNumberList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPraiseNumberListResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_PraiseScheduleAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:PraiseScheduleAdd" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_PraiseScheduleAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:PraiseScheduleAddResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_PraiseScheduleDel_InputMessage">
    <wsdl:part name="parameters" element="tns:PraiseScheduleDel" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_PraiseScheduleDel_OutputMessage">
    <wsdl:part name="parameters" element="tns:PraiseScheduleDelResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_PraiseScheduleGetByID_InputMessage">
    <wsdl:part name="parameters" element="tns:PraiseScheduleGetByID" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_PraiseScheduleGetByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:PraiseScheduleGetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_PraiseScheduleGetList_InputMessage">
    <wsdl:part name="parameters" element="tns:PraiseScheduleGetList" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_PraiseScheduleGetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:PraiseScheduleGetListResponse" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_PraiseScheduleUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:PraiseScheduleUpdate" />
  </wsdl:message>
  <wsdl:message name="IWeaponDesignAdminService_PraiseScheduleUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PraiseScheduleUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeaponDesignAdminService">
    <wsdl:operation name="GetWeaponList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/GetWeaponList" message="tns:IWeaponDesignAdminService_GetWeaponList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/GetWeaponListResponse" message="tns:IWeaponDesignAdminService_GetWeaponList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeaponAllUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/GetWeaponAllUserList" message="tns:IWeaponDesignAdminService_GetWeaponAllUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/GetWeaponAllUserListResponse" message="tns:IWeaponDesignAdminService_GetWeaponAllUserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWeaponStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/UpdateWeaponStatus" message="tns:IWeaponDesignAdminService_UpdateWeaponStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/UpdateWeaponStatusResponse" message="tns:IWeaponDesignAdminService_UpdateWeaponStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPraiseLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/AddPraiseLog" message="tns:IWeaponDesignAdminService_AddPraiseLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/AddPraiseLogResponse" message="tns:IWeaponDesignAdminService_AddPraiseLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPraiseLogList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/GetPraiseLogList" message="tns:IWeaponDesignAdminService_GetPraiseLogList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/GetPraiseLogListResponse" message="tns:IWeaponDesignAdminService_GetPraiseLogList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentsListList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/GetCommentsListList" message="tns:IWeaponDesignAdminService_GetCommentsListList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/GetCommentsListListResponse" message="tns:IWeaponDesignAdminService_GetCommentsListList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/DelComment" message="tns:IWeaponDesignAdminService_DelComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/DelCommentResponse" message="tns:IWeaponDesignAdminService_DelComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePraiseNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/UpdatePraiseNumber" message="tns:IWeaponDesignAdminService_UpdatePraiseNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/UpdatePraiseNumberResponse" message="tns:IWeaponDesignAdminService_UpdatePraiseNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPraiseNumberList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/GetPraiseNumberList" message="tns:IWeaponDesignAdminService_GetPraiseNumberList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/GetPraiseNumberListResponse" message="tns:IWeaponDesignAdminService_GetPraiseNumberList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleAdd" message="tns:IWeaponDesignAdminService_PraiseScheduleAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleAddResponse" message="tns:IWeaponDesignAdminService_PraiseScheduleAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleDel">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleDel" message="tns:IWeaponDesignAdminService_PraiseScheduleDel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleDelResponse" message="tns:IWeaponDesignAdminService_PraiseScheduleDel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleGetByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleGetByID" message="tns:IWeaponDesignAdminService_PraiseScheduleGetByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleGetByIDResponse" message="tns:IWeaponDesignAdminService_PraiseScheduleGetByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleGetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleGetList" message="tns:IWeaponDesignAdminService_PraiseScheduleGetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleGetListResponse" message="tns:IWeaponDesignAdminService_PraiseScheduleGetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleUpdate" message="tns:IWeaponDesignAdminService_PraiseScheduleUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleUpdateResponse" message="tns:IWeaponDesignAdminService_PraiseScheduleUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeaponDesignAdminService" type="tns:IWeaponDesignAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeaponList">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/GetWeaponList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeaponAllUserList">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/GetWeaponAllUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWeaponStatus">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/UpdateWeaponStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPraiseLog">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/AddPraiseLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPraiseLogList">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/GetPraiseLogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentsListList">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/GetCommentsListList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelComment">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/DelComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePraiseNumber">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/UpdatePraiseNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPraiseNumberList">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/GetPraiseNumberList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleAdd">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleDel">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleDel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleGetByID">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleGetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleGetList">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleGetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleUpdate">
      <soap:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IWeaponDesignAdminService" type="tns:IWeaponDesignAdminService">
    <wsp:PolicyReference URI="#NetTcpBinding_IWeaponDesignAdminService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetWeaponList">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/GetWeaponList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeaponAllUserList">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/GetWeaponAllUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWeaponStatus">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/UpdateWeaponStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPraiseLog">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/AddPraiseLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPraiseLogList">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/GetPraiseLogList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentsListList">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/GetCommentsListList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelComment">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/DelComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePraiseNumber">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/UpdatePraiseNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPraiseNumberList">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/GetPraiseNumberList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleAdd">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleDel">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleDel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleGetByID">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleGetByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleGetList">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleGetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PraiseScheduleUpdate">
      <soap12:operation soapAction="http://tempuri.org/IWeaponDesignAdminService/PraiseScheduleUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeaponDesignAdminService">
    <wsdl:port name="BasicHttpBinding_IWeaponDesignAdminService" binding="tns:BasicHttpBinding_IWeaponDesignAdminService">
      <soap:address location="http://adminapi.zygames.com/Event/QQSM/201512/DesignUpload/WeaponDesignAdminService.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IWeaponDesignAdminService" binding="tns:NetTcpBinding_IWeaponDesignAdminService">
      <soap12:address location="net.tcp://web1:7100/Event/QQSM/201512/DesignUpload/WeaponDesignAdminService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://web1:7100/Event/QQSM/201512/DesignUpload/WeaponDesignAdminService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>